/* Los estilos de tu proyecto */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

a {
  color: black;
  margin: 30px 20px 0px 30px;
  /* padding: 40px; */
  font-size: 17px;
}

.space-top {
  margin-top: 30px;
}

.space-right {
  margin-right: 50px;
}

.space {
  margin-left: 2em;
}

.style-box {
  margin-top: 20%;
}

a:hover {
  /* background: rgb(250, 197, 24); */
  color: rgb(46, 46, 155);
}

.container-fluid {
  background-color: white;
}

.navbar-default .navbar-brand {
  margin: 35px;
}

.navbar-default .navbar-toggle {
  margin: 30px;
}

.first-secction {
  background-image: url(../assets/images/taxi.jpg);
  background-size: auto;
  background-position: center;
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.first-box {
  background: #f7b417;
  box-sizing: border-box;
  float: right;
  padding: 40px;
  margin-top: 150px;
  width: 500px;
}

.box-logo {
  position: relative;
  bottom: 4px;
}

.box-logo,
.text-logo {
  display: inline-block;
}

.btn-primary {
  background-color: white;
  color: black;
  border: none;
}

.first-secction-desktop {
  margin-left: 64%;
  padding: 0.6em 0 0.6em 1.2em;
  background: #f7b417;
  box-sizing: border-box;
  float: right;
  padding: 40px;
  margin-top: 150px;
  width: 500px;
}

.logo {
  width: 60%;
  margin: 15px 0 0 10px;
}

.logo2 {
  width: 80%;
  margin: 40px 0px 0px 10px;
}

.row {
  margin-right: 0;
}


/* seudoclase para los br de la primera seccion */

p.line::before {
  display: inline-block;
  height: 1px;
  margin-right: 60px;
  content: " ";
  background-color: white;
  width: 120px;
}


/* seudoclase para los br de la primera seccion */

p.line::after {
  display: inline-block;
  height: 1px;
  margin-left: 60px;
  content: " ";
  background-color: white;
  width: 120px;
}

.jumbotron {
  background-color: #f7b417;
  width: 100%;
  height: 100%;
}

.second-box {
  border: 1px solid white;
  margin: 1em;
  padding: 2em;
}

.second-box-desktop {
  border: 1px solid white;
  border-left: none;
  /* margin: 1em; */
  padding: 2em;
  height: 75vh;
  width: 180vh;
}

.img-mobile {
  width: 40%;
  height: 65vh;
  display: block;
  margin: auto;
}

.img-mobile2 {
  display: block;
  margin: auto;
}

.third-secction {
  background-image: url(../assets/images/conduce.jpg);
  background-size: auto;
  background-position: center;
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.third-box {
  background: rgba(0, 0, 0, 0.356);
  /* box-sizing: border-box; */
  float: right;
  height: 80vh;
  padding: 40px;
  padding-top: 150px;
  /* margin-top: 150px; */
  width: 500px;
  color: white;
}

.white {
  color: white;
  font-weight: 900;
}

.white2 {
  color: white;
  font-weight: 600;
}

.weight {
  font-weight: 900;
}