/* Los estilos de tu proyecto */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

a {
  color: black;
  margin: 30px 20px 0px 30px;
  /* padding: 40px; */
  font-size: 17px;
}

.space-top {
  margin-top: 30px;
}

.space-right {
  margin-right: 50px;
}

.space {
  margin-left: 2em;
}

.style-box {
  margin-top: 20%;
}

a:hover {
  /* background: rgb(250, 197, 24); */
  color: rgb(46, 46, 155);
}

.container-fluid {
  background-color: white;
}

.navbar-default .navbar-brand {
  margin: 35px;
}

.navbar-default .navbar-toggle {
  margin: 30px;
}

.first-secction {
  background-image: url(../assets/images/taxi.jpg);
  background-size: auto;
  background-position: center;
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.first-box {
  background: #f7b417;
  box-sizing: border-box;
  float: right;
  padding: 40px;
  margin-top: 150px;
  width: 500px;
}

.box-logo {
  position: relative;
  bottom: 4px;
}

.box-logo,
.text-logo {
  display: inline-block;
}

.btn-primary {
  background-color: white;
  color: black;
  border: none;
}

.first-secction-desktop {
  margin-left: 64%;
  padding: 0.6em 0 0.6em 1.2em;
  background: #f7b417;
  box-sizing: border-box;
  float: right;
  padding: 40px;
  margin-top: 150px;
  width: 500px;
}

.logo {
  width: 60%;
  margin: 15px 0 0 10px;
}

.logo2 {
  width: 80%;
  margin: 40px 0px 0px 10px;
}

.row {
  margin-right: 0;
}


/* seudoclase para los br de la primera seccion */

p.line::before {
  display: inline-block;
  height: 1px;
  margin-right: 60px;
  content: " ";
  background-color: white;
  width: 120px;
}


/* seudoclase para los br de la primera seccion */

p.line::after {
  display: inline-block;
  height: 1px;
  margin-left: 60px;
  content: " ";
  background-color: white;
  width: 120px;
}

.jumbotron {
  background-color: #f7b417;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.second-box {
  border: 1px solid white;
  margin: 1em;
  padding: 2em;
}

.second-box-desktop {
  border: 1px solid white;
  border-left: none;
  /* margin: 1em; */
  padding: 2em;
  height: 75vh;
  width: 180vh;
}

.mobile {
  width: 40%;
  height: 65vh;
  display: block;
  margin: auto;
}

.mobile2 {
  display: block;
  margin: auto;
}

.third-secction {
  background-image: url(../assets/images/conduce.jpg);
  background-position: center;
  height: 70vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.opacity {
  background: rgba(0, 0, 0, 0.356);
  height: 70vh;
}

.opacity2 {
  background: rgba(0, 0, 0, 0.356);
  height: 100%;
  padding: 70px;
}

.text-3 {
  padding: 4em 0 3em 3em;
}

.btn-section-3 {
  background-color: #f7b417;
}

.third-box {
  float: right;
  padding-top: 150px;
  width: 450px;
}

.third-box-desktop {
  float: right;
  width: 78vh;
  color: white;
  height: 70vh;
}

.white {
  color: white;
  font-weight: 900;
}

.white2 {
  color: white;
  font-weight: 600;
}

.size {
  font-size: 18px;
}

.weight {
  font-weight: 900;
}

.forth-section {
  background-color: #f7b417;
  padding: 30px 8px;
  /* height: 160vh; */
  padding: 25px;
}

.direction {
  margin-bottom: 2em;
}

.forth-desktop {
  background-color: #f7b417;
  padding: 30px 8px;
  padding: 70px;
}

.text-4 {
  margin-left: 15px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 13px;
  display: inline-block;
}

.text-4-desktop {
  margin-left: 15px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 13px;
  display: inline-block;
  width: 350px;
}

.btn-white {
  margin-top: 1em;
  background-color: white;
}

.border-white {
  border: 1px solid white;
  padding: 10px;
}

.border-white2 {
  border: 1px solid white;
  padding: 10px;
  width: 80vh;
  display: inline-block;
  margin: 50px;
}

.letter-black {
  font-weight: 600;
}

.space-button {
  margin-left: 35vh;
}

.space-button2 {
  margin-left: 15vh;
}


/* footer */

footer {
  background-color: #2B2B2B;
  width: 100%;
}

footer li {
  padding-bottom: 1em;
  list-style: none;
}

.logo-footer {
  padding-bottom: 1em;
  width: 100%;
}

.logo-white {
  padding: 1em;
}

.line-text {
  text-align: left;
}

.box-footer {
  padding: 5em;
}

.box-logos {
  top: 11em;
  position: absolute;
}

.logo-footer {
  width: 80%;
}

.inline-down {
  margin-top: 268px;
}

/* modals */

/* viaja */

.small {
  width: 180px;
  height: 150px;
  margin: 20px;
}

.img-center {
  text-align: center;
}

.box-form{
  background-color: #30c1b8;
  height: 70vh;
}

.modal-footer {
  border-top: none;
  text-align: center;
}

.modal-header {
  border-bottom: none;
}
.btn-default {
  background-color: rgb(233, 162, 62);
  border: none;
}

.btn-default:hover {
  background-color: rgb(238, 224, 24);
  border: none;
}